.panel-kasodesk {
    border-color: #555;
}

.panel-kasodesk > .panel-heading {
    color: #fff;
    background-color: #666;
    border-color: #555
}

    .panel-kasodesk > .panel-heading + .panel-collapse > .panel-body {
        border-top-color: #555
    }

    .panel-kasodesk > .panel-heading .badge {
        color: #f5f5f5;
        background-color: #333
    }

    .panel-kasodesk > .panel-footer + .panel-collapse > .panel-body {
        border-bottom-color: #555
    }

#ol_f8c6_0 {
    background-color: #E5E6EB;
}

#div_f8c6_0 {
    padding: 0px;
}

#div_f8c6_1 {
    font-size: 20px;
}

#div_f8c6_2 {
    font-size: 20px;
}

#div_f8c6_3 {
    font-size: 20px;
}

#div_f8c6_4 {
    font-size: 20px;
}

#div_f8c6_5 {
    background-color: rebeccapurple !important;
    color: white !important;
}

#div_f8c6_6 {
    font-size: 20px;
}

#div_f8c6_7 {
    color: rebeccapurple !important;
}

#top_x_div {
    width: 100%;
    min-height: 400px;
}

#div_f8c6_8 {
    height: 150px;
}

#piechart {
    width: 100%;
    min-height: 185px;
}

#div_f8c6_9 {
    font-size: 20px;
}
